#include <windows.h>

Menu MENU
{
    POPUP "&Menu"
    {
        MENUITEM "&Open", 3
        MENUITEM "&Dialog", 1
        MENUITEM "&Exit", 0
    }
}

MainDialog DIALOG  10, 10, 200, 150
STYLE WS_POPUP | WS_BORDER
CAPTION "Dialog" 
{
    CTEXT "Text", 1, 10, 10, 50, 12
}
